<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<html>
<head>
<title>festivals</title>
</head>
<body link="red" alink="green" vlink="blue" bgcolor="lime">
<font color="yellow"><h1 align="center">Festival Celebration In India</h1></font><br><br>
<center><img src="static\Lantern.jpg" width="15%" height="15%"><img src="holi.jpg" width="15%" height="15%" hspace="4"></center><br>
r. The festival signifies the victory of good over evil, the arrival of spring, end of winter, and for many a festive day to meet others, play and laugh, forget and forgive, and repair ruptured relationships.

</body>
</html>
</body>
</html>